.navGlob {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 4rem;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  opacity: 0.6;
  overflow: hidden;
  transition: width 0.5s, height 0.5s, background-color 0.5s, opacity 0.5s;
}
.navGlob:hover {
  width: 150px;
  height: 80vh;
  opacity: 0.9;
  background-color: black;
  z-index: 1000;
}
.navIcon {
  cursor: pointer;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

ol li a {
  color: yellow;
  text-decoration: none;
  font-size: 1rem;
  border: 5px solid blue;
  width: 80%;
  font-size: 1rem;
}
ol li {
  list-style: none;
}
ol li a:hover {
  color: black;
  background-color: yellow;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
}
li {
  transform: rotate(-30deg);
}
li:hover {
  transform: rotate(0deg);
}
