.navGlob {
  position: fixed;
  top: 0;
  width: 5%;
  height: 80px;
  font-size: 4rem;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
    justify-content: start;
    align-items: center;
  opacity: 0.6;
  /* overflow: hidden; */
    transition: width 0.5s, height 0.5s, background-color 0.5s, opacity 0.5s;
}
.navGlob:hover {
  width: 10%;
  height: 80vh;
  opacity: .9;
  background-color: black;
  z-index: 1000;
}
.navIcon {
  cursor: pointer;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
}

ol li a {
  color: yellow;
  text-decoration: none;
  font-size: 1rem;
  border: 5px solid blue;
  width: 80%;
  font-size: 1rem;
  
}
ol li {
    list-style: none;
}
ol li a:hover {
    color: black;
    background-color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
}
li{
    transform: rotate(-30deg);
}
li:hover{
    transform: rotate(0deg);
}

