.navGlob {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 1000;

  font-size: 4rem;
  opacity: 0.6;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  overflow: hidden;
  transition: width 0.5s, height 0.5s, background-color 0.5s, opacity 0.5s;
}
.navGlob:hover {
  width: auto;
  height: auto;
  opacity: 0.9;
  background-color: rgba(65, 64, 64, 0.5);
  z-index: 1000;
}
.navIcon {
  cursor: pointer;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}
.navIcon:hover {
  height: 60px;
  width: 100%;
  text-align: center;
}

.scroller {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ol li {
  list-style: none;
  height: 50px;
  width: 150px;
  border: solid yellow 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
ol li:hover {
  background-color: black;
  color: black;
  font-weight: lighter;
}
ol li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}
ol li a:hover {
  font-weight: lighter;
  font-style: oblique;
  font-size: 1.6rem;
}
