* {
  box-sizing: border-box;
  font-family: "segoe ui", tahoma, geneva, verdana, sans-serif;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;

  margin: 0;

  color: yellow;
  text-align: center;
  min-height: 200vh;
  overflow-x: hidden;
}

h1 {
  color: #333;
  text-shadow: 1px 1px 20px rgb(211, 36, 6);
  text-align: center;
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
  line-height: 2.5;
  text-align: center;
}

.box {
  border: 6px solid white;
  padding: 10px;
  transition: 0.25s sease;
  background: rgb(0, 0, 0);
}

button {
  background-color: rgb(45, 2, 65);
  color: white;
}

p {
  visibility: hidden;

  width: 240px;
  margin: 10px auto 0;
  opacity: 0;
  transition: 1s;
}

.question-click {
  background: rgb(0, 0, 0);
  border-radius: 30px;
  border: 6px solid pink;
}

.revel {
  visibility: visible;
  color: red;
  opacity: 1;
}

.mousemove {
  height: 50px;
  width: 50px;
  border: 2px solid purple;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  transition: 0s;
  z-index: -1;
}
nav {
  background: white;
  color: black;
  position: fixed;
  width: 100%;
  height: 50px;
  top: -50px;
  transition: 0.8s;
}

nav::after {
  content: "";
  height: 150px;
  width: 150px;
  background: radial-gradient(
    circle closest-side,
    rgba(255, 0, 0, 0.8),
    transparent
  );
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  z-index: 20;
  opacity: 0;
  left: var(--x);
  top: var(--y);
}

nav:hover::after {
  opacity: 1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
