body{
    background: black;
    color: greenyellow;
}

.content{
    width: 50vmin;
    height: 50vmin;
    background: #fff0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pill{
    width: 15vmin;
    height: 40vmin;
    background: #fff0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(180deg);
    animation: spin 4s linear 0s infinite;
}
@keyframes spin{
    100%{
        transform: rotate(-540deg);
    }
  
}

.side{
    width: 11vmin;
    height: 15vmin;
    background: #f7c340;
    position: relative;
    overflow: hidden;
    border-radius:6vmin 6vmin 0 0 ;
}
.side+.side{
 background: #d9680c;
 border-radius: 0 0 6vmin 6vmin;
 border-top: 1vmin solid #621e1a;
 animation: open 2s ease-in-out 0s infinite;
}
@keyframes open{
    0%,
    20%,
    80%,
    100%{
     margin-top: 0;
    }
    30%,
    70%{
        margin-top: 10vmin;
    }
}
.side:before{
content: '';
position: absolute;
width: 2vmin    ;
height: 10vmin;
bottom: 0;
right: 1.5vmin;
background: #fff2;
border-radius:1vmin 1vmin 0 0;
animation: shine 1s ease-out -1s infinite alternate-reverse;
    }

    .side+.side:before{
        bottom: inherit;
        top: 0;
        border-radius: 0 0 1vmin 1vmin;
    }

    .side:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        border-radius: 6vmin 6vmin 0 0;
        border: 1.75vmin solid #fff0;
        border-bottom-color: #00fff0;
        border-bottom-width: 0vmin;
        border-top-width: shadow 1s ease -1s infinite alternate-reverse;
    }

    