body {
  /* Centrage pour la démo */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #333;
  color: white; /* Couleur du texte par défaut */
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
.type {
  text-align: center;
  font-size: 1em;
  color: white;
  height: 5px;
}
span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* 1. Définition de la variable Houdini */
@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

.C1,
.C2,
.C3,
.C4,
.C5,
.C6,
.C7,
.C8,
.C9,
.C10,
.C11,
.C12,
.C13 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin: 100px auto;
  transition: 1s;
  color: yellow;
  background-size: 100% 100%;
  mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 calc(100% - 10px + 1px));
}

/* #region linear gradients */
.C1 {
  background-image: linear-gradient(
    red 0%,
    red var(--fill),
    blue 50%,
    blue 100%
  );
  color: yellow;
}
.C2 {
  background-image: linear-gradient(to right, red 0%, cyan var(--fill));
}
.C3 {
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: linear-gradient(30deg, red 0%, cyan var(--fill));
}
.C4 {
  border-radius: 50%;
  background-image: linear-gradient(to top, blue var(--fill), red 50%);
}
/* #endregion linear gradients */

/* #region radial-gradient */
.C5 {
  background-position: 50% 50%;
  background-image: radial-gradient(circle at center, yellow, red var(--fill));
}
.C6 {
  border-radius: 50%;
  background-image: radial-gradient(
    ellipse at top left,
    #f06 var(--fill),
    #333
  );
}
/* #endregion */

/* #region conic-gradient */
.C8 {
  background: conic-gradient(
    red,
    yellow,
    green,
    red,
    purple,
    blue var(--fill),
    #666 10%
  );
}
.C9 {
  background: conic-gradient(
    at 50% 50%,
    gold 0deg,
    gold 150deg,
    blue 150deg,
    blue 250deg,
    red 250deg,
    red 360deg
  );
}
.C10 {
  background: conic-gradient(green var(--fill), #666 10%);
}
/* #endregion */

/* #region  */
.C7,
.C11,
.C12,
.C13 {
  /* mask: radial-gradient(farthest-side,transparent calc(100% - 5px),#000 calc(100% - 10px + 1px)); */
}

.C12 {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin: 100px auto;
  transition: 1s;
  color: yellow;
  background-size: 100% 100%;
  background-color: gray;
}
.C121 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 100px auto;

  position: relative;
  top: calc(100% - var(--fill));
  transition: 1s;
}

.C7 {
  background-size: 100% 100%;
  background-position: 0% calc(100% + var(--fill));
  background: repeating-conic-gradient(red 0deg 30deg, yellow 30deg 60deg);
}
.C11 {
  background-size: 100% 200%;
  background-position: 0% calc(100% + var(--fill));
  background-image: linear-gradient(to top, red 50%, cyan 50%);
}
.C121 {
  background: conic-gradient(blue 0deg 180deg, red 180deg 360deg);
}
.C13 {
  background-size: 100% 100%;
  background-image: radial-gradient(circle at center, yellow, red var(--fill));
}
/* #endregion */

/* #region  */
/* #endregion */

/* #region  */
/* #endregion */

div:hover {
  /* 3. Changement des propriétés au survol */
  color: black; /* Le texte devient blanc sur le fond vert */
  /* 4. Déclenchement de l'animation */
  --fill: 100%; /* Remplissage complet */
}
