* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.z1 {
  border: double red 10px;
}
.z2 {
  border: double blue 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
span {
    height: auto;
}

:root {
    --span-width: 14%;
    --color--border: rgba(128, 128, 128, 0.181);
    
}
.so {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.outil {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.download {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.diagram {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.outil-site {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}

.ac {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.ast {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.ja {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.doc {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}

.txt {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}

.vt {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}

.bdd {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.img {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.pdf {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.jeux {
    width: var(--span-width);
    border: double var( --color--border) 10px;
}
.secu {
    width: var(--span-width);
  border: double var( --color--border) 10px;
}
.as {
    width: var(--span-width);
  border: double var( --color--border) 10px;
}



h1 {
  color: aliceblue;
  font-size: 5rem;
}
h2 {
  color: yellow;
  font-size: 3rem;
}
nav {
  border: double green 10px;
}

button {
  width: 30%;
  height: 60px;
  font-size: 40px;
  background-color: rgb(44, 44, 44);
  border: 4px solid black;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

span button {
    width: 180px;
  height: 100px;
  font-size: 1.5rem;
  color: red;
}
span button:hover {
    background-color: yellow;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    background: #000;
    color: skyblue;
    perspective: 1000px;
    
}
 button:hover {
    background-color: yellow;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    
}
