body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #111;
}
.carousel {
  display: flex;
  perspective: 1000px;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}
.carousel .item {
  overflow: hidden;
  width: 20%;
  height: 250px;
  max-width: 250px;
  margin: 1px;
  transition: 0.5s;
  object-fit: cover;
  filter: brightness(1);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .item:hover {
  filter: brightness(1);
  transform: translateZ(170px);
}

/* .carousel .item:hover + * {
  filter: brightness(0.4);
  transform: translateZ(120px) rotateY(25deg);
} */

.neighbor-effect {
  transform: translateZ(70px) rotateY(-25deg);
  filter: brightness(0.4);
  opacity: 0.3;
}
.neighbor-effect2{
  transform: translateZ(20px) rotateY(25deg);
  filter: brightness(0.4);
  opacity: 0.3;
}
